In [1]:
from datetime import datetime, timedelta, date
import json
import matplotlib.dates as mdates
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd
import pymongo
import seaborn as sns
import streamlit as st
import random
from scipy import interpolate, signal
from data_scraper import mumsnet_url_generator, mumsnet_multithread_wrapper, mumsnet_cleaning, filter_out_old_rows, data_export
from plotting_streamlit import get_db, data_import, format_for_streamlit

In [44]:
df = data_import(['Times'])
df['retro'] = df['retro'].fillna(False)
df['retro'] = df['retro'].astype('bool')
df[df['retro'] == False]
df.load_ts.sort_values()

264    2022-06-02 15:18:00.000
278    2022-06-03 06:57:00.000
1      2022-06-03 13:29:00.000
2      2022-06-04 00:24:00.000
3      2022-06-04 09:45:00.000
                 ...
3063   2024-01-20 20:27:53.866
3064   2024-01-20 20:45:02.997
3065   2024-01-21 07:43:04.333
3066   2024-01-21 09:45:42.692
3067   2024-01-21 09:46:23.528
Name: load_ts, Length: 3068, dtype: datetime64[ns]

In [3]:
include_retro = False
mum_selector =False

In [4]:
collection_list = ['Times']

df = data_import(collection_list)

In [5]:
df

,_id,user,time,load_ts,phone_number,retro,dataset
0,6442cd14e8a2a4be93908aab,Joe,00:07:17,2022-06-08 00:20:00.000,NaN,NaN,Non-Mum
1,6442cd14e8a2a4be93908aa0,Harvey Williams,00:14:48,2022-06-03 13:29:00.000,NaN,NaN,Non-Mum
2,6442cd14e8a2a4be93908aa1,Harvey Williams,00:13:16,2022-06-04 00:24:00.000,NaN,NaN,Non-Mum
3,6442cd14e8a2a4be93908aa2,Joe,00:36:59,2022-06-04 09:45:00.000,NaN,NaN,Non-Mum
4,6442cd14e8a2a4be93908aa4,Harvey Williams,00:15:14,2022-06-05 01:38:00.000,NaN,NaN,Non-Mum
...,...,...,...,...,...,...,...
3061,65aba3cd87a6a6b274e95e3c,Tom,01:39,2024-01-20 10:43:25.480,447734470611,NaN,Non-Mum
3062,65ac2a2b87a6a6b274e95e42,Joe Wood,01:09,2024-01-20 20:16:43.015,447969445849,NaN,Mum
3063,65ac2cc987a6a6b274e95e46,Oliver Folkard,01:13,2024-01-20 20:27:53.866,447400975974,NaN,Non-Mum
3064,65ac30ce87a6a6b274e95e4d,Jenn,03:31,2024-01-20 20:45:02.997,447762793959,NaN,Mum
3065,65accb0887a6a6b274e95e52,Tom,03:08,2024-01-21 07:43:04.333,447734470611,NaN,Non-Mum

In [6]:
#df['retro'] = df['retro'].fillna('False')
df.retro

0       NaN
1       NaN
2       NaN
3       NaN
4       NaN
       ...
3061    NaN
3062    NaN
3063    NaN
3064    NaN
3065    NaN
Name: retro, Length: 3066, dtype: object